html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
  box-sizing: border-box;
  font-family: 'Gentium Book Basic', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
img, object, video, embed {
  max-width: 100%;
}

section {
  margin:0;
  padding:0;
}
nav a, button {
  min-height: 48px;
  min-width: 48px;
}

header {
  width: 100%;
}

.header__title {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.body__title {
  text-transform: uppercase;
  font-size: 25px;
  padding-top: 50px;
  text-align: center;
}

.current__issue {
  text-align: center;
  width: 100%;
}

.latest__cover {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  box-shadow: 5px 5px 3px #d3d3d3;
}

.image__credits {
  padding-top: 20px;
}

.image__credits p {
  font-size: 16px;
  text-align: center;
}

.image__credit {
  display: none;
}

.about__issue h3 {
  padding-top: 50px;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

.about__issue p {
  margin: 20px;
}

.limited__print {
  font-weight: lighter;
  padding-top:20px;
  padding-bottom: 20px;
}

.buy__button {
  border: 1px solid;
  border-color: black;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 160px;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.subscribe__button {
  border: 1px solid;
  border-color: black;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.each__issue {
  margin-top: 50px;
  width: 100%;
}

.each__issue button {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.photobook {
  width: 100%;
  height: auto;
  padding-bottom:70px;
}

.issue__one {
  background-color: #60BBC0;
  margin-top: 0;
}

.issue__two {
  background-color: #FDD251;
}

.issue__title {
  padding-top: 70px;
  margin: 0;
  text-align: center;
  font-size: 22px;
}

.issue__cover {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 20px;
}

.design__credit {
  text-align: center;
  padding: 20px;
}

.current__issue img {
  margin-top: 60px;
}

.about__issue h3 {
  padding-top: 20px;
}

.flex__grid {
margin-top: 50px;
}

footer {
  margin-top: 40px;
  padding: 20px;
}

@media screen and (min-width: 500px) {

  body {
    background-color: white;
  }
  header {
    height: 200px;
    position: fixed;
    background-color: white;
    padding-top: 0;
    margin-top: 0;
  }

  .header__title {
    font-size: 5rem;
    padding: 10px;
  }

  .body__title {
    padding-top: 250px;
    font-size: 3rem;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;

  }
  .current__issue {
    width: 100%;
  }
  .latest__cover {
    width:40%;
    height: 700px;
    float: left;
    margin-top: 20px;
    margin-right: 2em;
    box-shadow: none;
    margin-bottom: 40px;
  }

  .feature {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
  }

  .image__credits {
    padding-top: 70px;
    display: none;
  }

  .design__credit {
    text-align: left;
  }

  .limited__print {
  padding-top: 500px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  clear: both;
}

   .preorder {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;
 }

 .print {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;
 }
  .about__issue {
    margin-top: 20px;
    text-align: left;
    display: block;
    margin-right: 3em;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: bold;
  }


  .about__issue h3 {
    font-size: 1.5rem;
    padding-top: 100px;
  }

  .about__issue p {
    padding-top: 0px;
    padding-bottom: 2px;
    margin-left: 60px;
  }
  .image__credits p {
    padding-top: 20px;
    font-size: 2rem;
  }

  .image__credit {
    clear:both;
    margin-bottom: 50px;
  }

  .flex__grid {
  display: flex;
  margin-top: 50px;
 }
  .col {
   flex: 1;
 }

 .design__credit {
   text-align: center;
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
   padding: 20px;
   font-weight: lighter;
 }

 .issue__title {
   font-size: 40px;
   padding-top: 60px;
 }


 .buy__button {
   background-color: transparent;
 }


 footer  p {
   text-align: center;
   font-size: 15px;
   text-transform: uppercase;
   padding: 100px;
   font-weight: lighter;
   font-family: 'Open Sans', sans-serif;
   color: black;

 }
}
